body {
    background-color: silver;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font: bold 16px arial;
    color:darkslateblue;
}

li {
    border: 1px solid red;
    /* display: inline-block; */
}